<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<title>Barry's Brunch Bonanza</title>
</head>
<body>
	<a href="/"><h1> Welcome to Barry's! </h1></a>
	<h2> Where it's always brunch, and brunch is bottomless! </h2>
	<%=yield%>
</body>
</html>