<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<title>Barry's Brunch Bonanza</title>
</head>
<body>
	<%=yield%>
</body>
</html>