<h2>Create order for <%=@party.name%></h2>

<ul>
	<%@foods.each do |food|%>
		<li>
			<form action="/parties/<%=@party.id%>/order" method="post">
				<input type="checkbox" name="food[food_id][]" value="<%=food.id%>">
				<%=food.name%>
		</li>
	<%end%>
</ul>
<input type="submit">
</form>


