<% @party.orders.each do |order| %>

<h1><%= order.food.name %>  $<%= order.food.price %></h1>
<form action="/parties/<%=@party.id%>/orders" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" name="order_id" value="remove order">
</form>


<%end%>

<a href="/parties/<%=@party.id%>/orders/receipt">Print Bill</a>


