body {
	background-color: bisque;
	text-align: center;
	/*background-image: url("http://asset.zcache.com/assets/graphics/s.gif");*/
/*	background-image: url("http://i.imgur.com/Vs8Qltv.jpg");
*/}

a {
	font-size: 20px;
	text-decoration: none;
	font-family: Courier;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}
a:hover {
    color: black;
}
input[type=submit] {
	background: none; 
	border:0 none;
	cursor:pointer;
	font-size: 20px;
}

li {
	list-style-position: inside;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h1 {
font-family: "Brush Script MT", cursive;
}

h3 {
font-family: "Brush Script MT", cursive;
}

h2 {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

table {
	text-align: center;
  border-spacing: 5px;
}

.caption {
	font-size: 20px;
	font-family: "Brush Script MT", cursive;
}
.central {
	display: block;
	text-align: center;
}

.receipt {
	padding: 10px;
	background-color: white;
	border: 2px solid black;
	width: 400px;
	margin:0 auto;
}