body {
	/*background-color: bisque;*/
	text-align: center;
	background-image: url('http://i.imgur.com/ADiJkpJ.jpg');
	background-size: cover;
  /*background: -webkit-linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('http://i.imgur.com/QYGlSNl.jpg?2');
  background: -moz-linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('http://i.imgur.com/QYGlSNl.jpg?2');
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('http://i.imgur.com/QYGlSNl.jpg?2');*/
  color: black;
}

a {
	font-size: 20px;
	text-decoration: none;
	font-family: Courier;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}
a:hover {
    color: blue;
}
input[type=submit] {
	background: none; 
	border:0 none;
	cursor:pointer;
	font-size: 20px;
}

li {
	list-style: none;
	list-style-position: inside;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h1 {
font-family: "Brush Script MT", cursive;
}

h3 {
font-family: "Brush Script MT", cursive;
}

h2 {
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

table {
	text-align: center;
  border-spacing: 5px;
}

.caption {
	font-size: 20px;
	font-family: "Brush Script MT", cursive;
}
.central {
	display: block;
	text-align: center;
}

.receipt {
	padding: 10px;
	background-color: #EFECE5;
	border: 2px solid black;
	width: 400px;
	margin:0 auto;
	color: black;
}
/*.checkout {
	font-size: 36px;
	text-align: center;
}*/

.checkout {
	margin-top: 30px;
	text-decoration: none;
	background: none;
	cursor: pointer;
	border: 2px darkgrey;
	font-size: 34px;
	font-family: Tahoma;
}

.partyfood {
	margin-top: 2px;
	text-decoration: none;
	font-family: Papyrus, fantasy;
	font-size: 24px;
	border: none;
	background: none;
	color: black;
}
/*.currentorder {
	border: 1px dashed grey;
	width: 250px;
	margin:0 auto;
}*/

