

<form action="/foods/<%=@food.id%>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="food_name" placeholder="<%=@food.name%>">
	<input type="text" name="food_price" placeholder="<%=@food.price%>">
	<input type="submit">

</form>




