<h3> Menu </h3>


<ul>
	<%@foods.each do |food|%>
		<li>
			<a href="/foods/<%=food.id%>">
				<%=food.name%> -------- $<%=food.price%>
			</a>
		</li>
	<%end%>
</ul>

<p>
	<a href="/foods/new"> Add Item to Menu </a>
</p>
<p>
	<a href="/parties"> List of parties</a>
</p>