
<p>
	<a href="/parties"> List of parties</a>
</p>

<h2><u> Menu </u></h2>


<ul>
	<%@foods.each do |food|%>
		<li>
			<a href="/foods/<%=food.id%>">
				<%=food.name%> -------- $<%=food.price%>
			</a>
		</li>
	<%end%>
</ul>

<% if session[:current_user] %>
<p>
	<a href="/foods/new"> Add Item to Menu </a>
</p>
<%end%>
