<form action="/foods" method ="post">
	Name of Dish: <input type="text" name="food_name" placeholder="Fishball Soup">
	Cost: <input type="text" name="food_price" placeholder="$10000">
	<input type="submit">
</form>