<h2> <%= @food.name%> ----- $<%=@food.price%> </h2>

<a href="/foods/<%=@food.id%>/edit">Change the dish?</a>

<form action="/foods/<%=@food.id%>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Take off menu?">
</form>

<a href="/foods">Back to menu</a>