<h3> Tonight's Guests</h3>


<ul>
	<%@parties.each do |party|%>
		<li>
			<a href="/parties/<%=party.id%>">
				<%=party.name%> -------- Table of: <%=party.number%> ------ Paid: <%=party.paid%>
			</a>
		</li>
	<%end%>
</ul>

<p>
	<a href="/parties/new"> Add a new table </a>
</p>
<p>
	<a href="/foods">Back to menu</a>
</p>
