<h2><u> Tonight's Guests </u></h3>

<ul>
	<%@parties.each do |party|%>
		<li>
			<a href="/parties/<%=party.id%>">
				<%=party.name%> -------- Table of: <%=party.number%> ------ Paid: <%=party.paid%>
			</a>
		</li>
	<%end%>
</ul>



<a href="/parties/new">Add New Table</a>
<p></p>
<a href="/foods"> Back to Menu </a>