<form action="/parties" method ="post">
	Last name: <input type="text" name="party_name" placeholder="Michalakis">
	Party of: <input type="text" name="party_number" placeholder="5">
	Paid: <input type="text" name="party_paid" placehold="No">
	<input type="submit">
</form>